* {
  margin: 0;
  padding: 0;
}

// body {
//   width: 1440px;
// }

ul {
  list-style: none;
  // overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
}

.wrapper {
  display: flex;
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

// Make image fit the parent size (do NOT bleed out it's size) and eliminate white space
img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  height: auto;
}
