.blogPost {
  background-color: aqua;
}

.ourMission {
  background-color: blue;
}

.comments {
  background-color: red;
}

form {
  background-color: pink;
}

.blogComment1 {
  background-color: yellow;
}
.blogComment2 {
  background-color: lightyellow;
}

.detailedTrip {
  background-color: green;
}
.ourMission {
  background-color: lightgreen;
}
