.likeButton {
  background-color: $twilightBlue;
  padding: 18px 36px;
  text-align: center;

  &:hover,
  &:focus {
    color: $greenishCyan;
  }
}

.nav {
  display: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $greenishCyan;
  }
}

.linkType {
  color: $twilightBlue;
  &:hover,
  &:focus {
    opacity: 0.3;
  }
}

.showIcon {
  color: $iceBlue;
}
