@media (max-width: 1070px) {
  #contactPage {
    #header {
      width: 100%;

      .headerText {
        margin: 30px auto;

        h2 {
          font-size: 3rem;
        }
      }
    }

    main {
      flex-direction: column;

      .messageForm {
        width: 100%;
        margin: 0 auto;
        box-shadow: none;
      }

      .companyInfo {
        text-align: center;
      }
    }
  }

  #blogPage {
    #header {
      width: 100%;

      .headerText {
        margin: 60px auto;

        h2 {
          font-size: 3rem;
        }
      }
    }

    main {
      flex-direction: column;

      .blogImageContainer {
        height: 300px;
        width: fit-content;
        margin: 0 auto;

        // position: static;
        // img {
        //   position: static;
        // }
      }

      .blogTextContainer {
        width: 90%;
        margin: 20px auto;
        // // padding: 50px 50px 20px;
        padding: 0;
        right: 0;
        text-align: center;
        border: none;
        // border-right: none;
      }

      .ourMissionRecentPosts {
        padding: 0;
        .ourMissionTextContainer {
          width: 90%;
          margin: 0 auto 30px;
          // margin-bottom: 30px;
          text-align: center;
        }

        .ourMissionImageContainer {
          width: 200px;
          margin: 0 auto 30px;
          // margin-bottom: 30px;
        }

        .recentPosts {
          width: 100%;
          text-align: center;
          margin: 0 auto;
        }
      }

      .comments,
      .commentForm {
        width: 90%;
        margin: 0 auto 30px;
        h6 {
          text-align: center;
          margin-top: 30px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  #contactPage {
    #header {
      .navBar {
        display: none;
      }

      .hamburgerMenu {
        display: contents;
        .showIcon {
          padding-top: 10px;
        }
      }

      .headerText {
        margin-top: 40px;

        h2 {
          font-size: 2rem;
        }
      }
    }

    main {
      .sendMessageForm {
        flex-direction: column;

        .nameEmailContainer {
          display: flex;
          flex-direction: column;

          input {
            width: 100%;
          }
        }
      }
    }
  }

  #blogPage {
    #header {
      .navBar {
        display: none;
      }

      .hamburgerMenu {
        display: contents;
        .showIcon {
          padding-top: 10px;
        }
      }

      .headerText {
        margin: 90px auto;
      }
    }

    main {
      flex-direction: column;

      .blogImageContainer {
        // box-shadow: none;
        // width: 100%;
        display: none;
      }

      .blogTextContainer {
        // left: 0;
        // text-align: center;
        // // padding: 0 auto;
        // border-right: none;
        // margin: 0;
        margin-top: 70px;
      }

      // .ourMissionRecentPosts {
      //   padding: 0;
      //   .ourMissionTextContainer {
      //     width: 90%;
      //     margin: 0 auto 30px;
      //     // margin-bottom: 30px;
      //     text-align: center;
      //   }

      .ourMissionImageContainer {
        width: 200px;
        margin: 0 auto 30px;
        // margin-bottom: 30px;
      }

      .recentPosts {
        width: 100%;
        text-align: center;
        margin: 0 auto;
      }
    }

    .comments,
    .commentForm {
      width: 90%;
      margin: 0 auto 30px;
    }
  }
}

@media (max-width: 500px) {
  #blogPage {
    .logo {
      font-size: 1rem;
    }

    .comments {
      h6 {
        text-align: center;
        margin-top: 30px;
      }
      .userComments {
        // width: 90%;
        // margin: 0 auto 30px;
        display: flex;
        flex-direction: column;

        .userImageContainer {
          width: 100px;
          margin: 0 auto 30px;
        }
      }
    }
  }

  .commentForm {
    .nameEmailContainer {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 400px) {
  #contactPage {
    #header {
      .headerText {
        margin-top: 40px;

        h2 {
          font-size: 1.2rem;
        }
      }
    }
  }
  .detailedTrip {
    position: static;
    #blogPage {
      .blogImageContainer {
        display: none;
      }

      .blogTextContainer {
        margin-top: 130px;
      }
    }
  }
}
