@media (max-width: 1200px) {
  #welcomePage {
    header {
      .headerText {
        width: 100%;
        margin: 0 auto;
        padding-left: 0;
        text-align: center;
      }
    }
  }
}

@media (max-width: 1070px) {
  #contactPage {
    #header {
      width: 100%;

      .headerText {
        margin: 30px auto;

        h2 {
          font-size: 3rem;
        }
      }
    }

    main {
      flex-direction: column;

      .messageForm {
        width: 100%;
        margin: 0 auto;
        box-shadow: none;
      }

      .companyInfo {
        text-align: center;
      }
    }
  }

  #blogPage {
    #header {
      width: 100%;

      .headerText {
        margin: 60px auto;

        h2 {
          font-size: 3rem;
        }
      }
    }

    main {
      flex-direction: column;

      .blogImageContainer {
        height: 300px;
        width: fit-content;
        margin: 0 auto;

        // position: static;
        // img {
        //   position: static;
        // }
      }

      .blogTextContainer {
        width: 90%;
        margin: 20px auto;
        // // padding: 50px 50px 20px;
        padding: 0;
        right: 0;
        text-align: center;
        border: none;
        // border-right: none;
      }

      .ourMissionRecentPosts {
        padding: 0;
        .ourMissionTextContainer {
          width: 90%;
          margin: 0 auto 30px;
          // margin-bottom: 30px;
          text-align: center;
        }

        .ourMissionImageContainer {
          width: 200px;
          margin: 0 auto 30px;
          // margin-bottom: 30px;
        }

        .recentPosts {
          width: 100%;
          text-align: center;
          margin: 0 auto;
        }
      }

      .comments,
      .commentForm {
        width: 90%;
        margin: 0 auto 30px;
        h6 {
          text-align: center;
          margin-top: 30px;
        }
      }
    }
  }

  #welcomePage {
    header {
      .headerText {
        margin: 0 auto;

        margin-top: 40px;
        h1 {
          font-size: 3rem;
        }
        h3 {
          font-size: 2.5rem;
        }
      }

      // ??????ADD A MAIN HERE
      .imagesContainer {
        display: none;
      }

      // // AQUI
      // input[type="checkbox"],
      // label[for="openSidebarMenu"] {
      //   display: block;
      //   position: fixed;
      //   top: 15px;
      //   right: 20px;
      // }

      // input[type="checkbox"] {
      //   opacity: 0;
      // }

      // .menu .wrapper .slideMenu {
      //   flex-direction: column;
      //   position: fixed;
      //   right: -1000px;
      // }

      // input[type="checkbox"]:checked ~ .slideMenu {
      //   right: 0;
      // }
    }

    #visitGuyana {
      margin: 0 auto;

      // flex-direction: column;
      // .visitGuyanaContent {
      //   // width: 100%;
      //   flex-basis: 90%;
      //   margin: 0 auto;
      //   text-align: center;
      // }

      .wrapper {
        // margin-top: 50px;
        margin: 50px auto;
        .visitGuyanaContent {
          flex-basis: 90%;
          margin: 0 auto;
          text-align: center;
        }

        .visitGuyanaImageContainer {
          display: none;
        }
      }
    }

    .secondNav {
      width: 100%;
      margin: 0 auto;
      ul {
        flex-direction: column;
        li {
          width: 100%;
        }
      }
    }

    #planAhead {
      flex-direction: column;
      width: 100%;
      text-align: center;

      .planAheadImageContainer {
        flex-basis: 90%;
        margin: 20px auto;

        img {
          top: 0;
          box-shadow: none;
        }
      }

      .planAheadTextContainer {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding: 50px;
      }
    }

    #newLocations {
      flex-direction: column-reverse;
      width: 100%;
      text-align: center;

      .newLocationsImageContainer {
        flex-basis: 90%;
        margin: 20px auto;

        img {
          top: 0;
          box-shadow: none;
        }
      }

      .newLocationsTextContainer {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding: 50px;
      }
    }
  }

  footer {
    text-align: center;
    .p {
      padding: 0;
    }
  }
}

@media (max-width: 900px) {
  .headerText {
    margin-top: 40px;
    h1 {
      font-size: 2.2rem;
    }
    h3 {
      font-size: 2rem;
    }
  }
}

@media (max-width: 700px) {
  #contactPage {
    header {
      // AQUI
      input[type="checkbox"],
      label[for="openSidebarMenu"] {
        display: block;
        width: 30px;
        height: 30px;
        position: fixed;
        top: 33px;
        right: 15px;
        background-color: $iceBlue;
        opacity: 60%;
        z-index: 20;
        text-align: center;
        i {
          color: $black;
          z-index: 15;
        }
      }

      input[type="checkbox"] {
        opacity: 0;
      }

      .slideMenu {
        // .menu .wrapper .slideMenu {
        flex-direction: column;
        width: 130px;
        height: 150px;

        position: fixed;
        right: -150px;
        top: 77px;
        // color: $twilightBlue;
        background-color: $iceBlue;
        opacity: 60%;
        z-index: 20;
        a {
          color: $black;
          z-index: 15;
        }
      }

      input[type="checkbox"]:checked ~ .slideMenu {
        right: 15px;
      }
      // ---/ ENDS

      .slideMenu {
        position: absolute;
        right: -1500px;
        flex-direction: column;
        color: red;
      }

      .headerText {
        margin-top: 40px;

        h2 {
          font-size: 2rem;
        }
      }
    }

    main {
      .sendMessageForm {
        flex-direction: column;

        .nameEmailContainer {
          display: flex;
          flex-direction: column;

          input {
            width: 100%;
          }
        }
      }
    }
  }

  #blogPage {
    header {
      // AQUI
      input[type="checkbox"],
      label[for="openSidebarMenu"] {
        display: block;
        width: 30px;
        height: 30px;
        position: fixed;
        top: 33px;
        right: 15px;
        background-color: $iceBlue;
        opacity: 60%;
        z-index: 20;
        text-align: center;
        i {
          color: $black;
          z-index: 15;
        }
      }

      input[type="checkbox"] {
        opacity: 0;
      }

      .slideMenu {
        // .menu .wrapper .slideMenu {
        flex-direction: column;
        width: 130px;
        height: 150px;

        position: fixed;
        right: -150px;
        top: 77px;
        // color: $twilightBlue;
        background-color: $iceBlue;
        opacity: 60%;
        z-index: 20;
        a {
          color: $black;
          z-index: 15;
        }
      }

      input[type="checkbox"]:checked ~ .slideMenu {
        right: 15px;
      }
      // ---/ ENDS

      .headerText {
        margin: 90px auto;
      }
    }

    main {
      flex-direction: column;

      .blogImageContainer {
        display: none;
      }

      .blogTextContainer {
        margin-top: 70px;
      }

      .ourMissionImageContainer {
        width: 200px;
        margin: 0 auto 30px;
        // margin-bottom: 30px;
      }

      .recentPosts {
        width: 100%;
        text-align: center;
        margin: 0 auto;
      }

      .comments,
      .commentForm {
        width: 90%;
        margin: 0 auto 30px;
      }
    }
  }

  #welcomePage {
    header {
      // AQUI
      input[type="checkbox"],
      label[for="openSidebarMenu"] {
        display: block;
        width: 30px;
        height: 30px;
        position: fixed;
        top: 33px;
        right: 15px;
        background-color: $iceBlue;
        opacity: 60%;
        z-index: 20;
        text-align: center;
        i {
          color: $black;
          z-index: 15;
        }
      }

      input[type="checkbox"] {
        opacity: 0;
      }

      .slideMenu {
        // .menu .wrapper .slideMenu {
        flex-direction: column;
        width: 130px;
        height: 150px;

        position: fixed;
        right: -150px;
        top: 77px;
        // color: $twilightBlue;
        background-color: $iceBlue;
        opacity: 60%;
        z-index: 20;
        a {
          color: $black;
          z-index: 15;
        }
      }

      input[type="checkbox"]:checked ~ .slideMenu {
        right: 15px;
      }
      // ---/ ENDS

      .headerText {
        margin-top: 40px;
        h1 {
          font-size: 2.5rem;
        }
        h3 {
          font-size: 2rem;
        }
      }
    }

    // COLOCAR UM MAIN --------
    #visitGuyana {
      height: 50%;
      padding-bottom: 50px;
    }

    #imagesGallery li {
      // display: none;
      padding: 5px;
      // justify-content: flex-end;
    }

    #planAhead {
      width: 100%;
    }

    #freeTrip {
      width: 90%;
    }
  }
}

@media (max-width: 600px) {
  #blogPage {
    .logo {
      font-size: 1rem;
    }

    .comments {
      h6 {
        text-align: center;
        margin-top: 30px;
      }
      .userComments {
        // width: 90%;
        // margin: 0 auto 30px;
        display: flex;
        flex-direction: column;

        .userImageContainer {
          width: 100px;
          margin: 0 auto 30px;
        }
      }
    }

    .commentForm {
      .nameEmailContainer {
        display: flex;
        flex-direction: column;
      }
    }
  }

  #welcomePage {
    header {
      .headerText {
        margin-top: 40px;
        h1 {
          font-size: 2rem;
        }
        h3 {
          font-size: 1.7rem;
        }
      }
    }

    // COLOCAR UM MAIN --------
    #imagesGallery li {
      display: none;
      padding: 5px;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 400px) {
  #contactPage {
    #header {
      .headerText {
        margin-top: 40px;

        h2 {
          font-size: 1.2rem;
        }
      }
    }
  }

  // #welcomePage {
  //   #visitGuyana {
  //     height: 660px;
  //     font-size: 0.8rem;
  //   }
  // }

  footer {
    font-size: small;
  }
}
