// 1. FONTS
// 1.1 Lato
// <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">

// font-family: 'Lato', sans-serif;

// 1.2 Playfair Display SC
// <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,900&display=swap" rel="stylesheet">

// font-family: 'Playfair Display SC', serif;

html {
  font-size: 125%;
}

h1,
.logo,
.likeButton {
  font-family: $playfairDisplaySC;
}

body,
h2,
h3,
h4,
h5,
h6,
.nav,
.placeholder {
  font-family: $latoFont;
}

body {
  font-size: 1rem;
  color: $black;
  line-height: 1.6rem;
  letter-spacing: 2px;
}

body {
  font-weight: normal;
}

//  ::placeholder {
//     font-family: $latoFont;
//     font-weight: lighter;
//   }

.nav,
.likeButton {
  font-size: 1rem;
  color: $iceBlue;
  letter-spacing: 1px;
}

.nav {
  font-weight: bold;
  line-height: 1.6rem;
}

.likeButton {
  font-weight: normal;
  line-height: 1.45rem;
}

.logo {
  font-size: 1.73rem;
  color: $greenishCyan;
}

h1 {
  font-size: 5.56rem;
  color: $twilightBlue;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 2.9rem;
}

h2 {
  color: $iceBlue;
  font-size: 4.35rem;
  letter-spacing: 9px;
}

h3 {
  color: $spruce;
  font-size: 3.1rem;
  letter-spacing: 6.7px;
}

h4,
h5 {
  font-size: 1.75rem;
  letter-spacing: 3.8px;
}

h4 {
  color: $spruce;
}

h5 {
  color: $twilightBlue;
}

h6 {
  font-size: 1.5rem;
  letter-spacing: 3.2px;
}

.blogPost h4 {
  color: $spruce;
}

.date {
  color: $twilightBlue;
  font-weight: bold;
  // font-style: italic;

  span {
    font-weight: bold;
  }
}

.linkType2 {
  color: $spruce;
  font-weight: bold;

  &:hover,
  &:focus {
    color: $greenishCyan;
  }
}
