// 1. Variables
// 1.1 Colors
$greenishCyan: #50e3c2;
$black: #2c2c2c;
$iceBlue: #fafffe;
$twilightBlue: #063974;
$lightLightBlue: #d2f9f1;
$spruce: #0c5f4c;

// 1.2 Text Fonts
$playfairDisplaySC: "Playfair Display SC", serif;
$lato: "Lato", sans-serif;

// font-family: "Lato", sans-serif;
// font-family: "Playfair Display SC", serif;
