.planAheadImageContainer {
  background-image: url(./../assets/images/left-image.jpg);
}

.newLocationsImageContainer {
  background-image: url(./../assets/images/right-image.jpg);
}

#imagesContainer,
#planAhead,
#newLocations {
  background-color: aquamarine;
}
