// 1.1 General
#imagesGallery,
#planAhead,
#newLocations {
  background-color: $lightLightBlue;
}
// ----------------------------- END ----------------------------------

// 1.2 visitGuyana Section
#visitGuyana {
  height: 470px;

  .wrapper {
    margin-top: 200px;
    justify-content: space-between;
  }

  .visitGuyanaContent {
    flex-basis: 60%;
  }

  .visitGuyanaImageContainer {
    img {
      box-shadow: -15px 15px $greenishCyan;
    }
  }

  h4 {
    margin-bottom: 20px;
  }
}
// ----------------------------- END ----------------------------------

// 1.3 Images Gallery Section
#imagesGallery {
  ul {
    display: flex;
    justify-content: space-evenly;

    li {
      flex-basis: 33%;
      // align-items: center;
      padding: 50px 15px;
    }
  }
}
// ----------------------------- END ----------------------------------

// 1.4 SeconsNave Section
.secondNav {
  margin: 30px 0;

  ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    li {
      display: flex;
      flex-basis: 50%;

      .seconNavIcon {
        flex-basis: 10%;
      }

      .seconNavText {
        flex-basis: 90%;
        padding-left: 10px;

        h6 {
          color: $spruce;
          margin-top: -15px;
        }
      }
    }
  }

  i::before {
    font-family: FontAwesome;
    font-style: normal;
    color: white;
    padding: 15px;
    border-radius: 50%;
    background-color: red;
  }

  i.paperIcon::before {
    padding: 15px 17.5px;
  }

  i.usersIcon::before {
    padding: 15px 12.5px;
  }
}
// ----------------------------- END ----------------------------------

// 1.5 Plan Ahead and New Locations
#planAhead,
#newLocations {
  display: flex;
  justify-content: space-between;
}

.planAheadImageContainer,
.planAheadTextContainer,
.newLocationsImageContainer,
.newLocationsTextContainer {
  flex-basis: 40%;
}

.planAheadImageContainer img {
  position: relative;
  top: -25px;
  box-shadow: 15px 15px $greenishCyan;
}

.planAheadTextContainer {
  padding: 60px 60px 50px 0;
}

.newLocationsTextContainer {
  padding: 50px 0 50px 60px;
  text-align: right;
}

.newLocationsImageContainer img {
  position: relative;
  top: 25px;
  box-shadow: -15px 15px $greenishCyan;
}
// ----------------------------- END ----------------------------------

// 1.6 FreeTrip Section
#freeTrip {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 50px auto;
  text-align: center;

  h5 {
    color: $spruce;
  }

  p {
    margin-bottom: 10px;
  }

  a {
    width: 300px;
    margin: 0 auto;
  }
}
// ----------------------------- END ----------------------------------
