@media (max-width: 1060px) {
  #header {
    width: 100%;
    // height: 30vh;

    .headerText {
      margin: 60px auto;

      h2 {
        font-size: 3rem;
      }
    }

    .messageForm {
      position: static;
      padding: 0 auto;
    }

    .companyInfo {
      padding: 0 auto;
    }
  }

  #contactPage main {
    flex-direction: column;

    .messageForm {
      width: 100%;
      margin: 0 auto;
      box-shadow: none;
    }

    .companyInfo {
      text-align: center;
    }
  }
}

@media (max-width: 700px) {
  #contactPage #header {
    .headerText {
      margin: 10px auto;

      h2 {
        font-size: 2rem;
      }
    }
  }

  #contactPage main {
    .messageForm {
      flex-direction: column;

      width: 100%;
      margin: 30px auto;

      input {
        width: 100%;
      }
    }
  }
}

@media (max-width: 640px) {
  #header {
    // height: 300px;

    .headerText {
      // margin-top: 50px;

      margin: 10px auto;

      h2 {
        font-size: 5.5rem;
      }
    }
  }

  @media (max-width: 320px) {
  }
}
