@media (max-width: 1070px) {
  #contactPage {
    #header {
      width: 100%;

      .headerText {
        margin: 30px auto;

        h2 {
          font-size: 3rem;
        }
      }
    }

    main {
      flex-direction: column;

      .messageForm {
        width: 100%;
        margin: 0 auto;
        box-shadow: none;
      }

      .companyInfo {
        text-align: center;
      }
    }
  }

  #blogPage {
    #header {
      width: 100%;

      .headerText {
        margin: 60px auto;

        h2 {
          font-size: 3rem;
        }
      }
    }

    main {
      flex-direction: column;

      .blogImageContainer {
        height: 300px;
        width: fit-content;
        margin: 0 auto;

        // position: static;
        // img {
        //   position: static;
        // }
      }

      .blogTextContainer {
        width: 90%;
        margin: 20px auto;
        // // padding: 50px 50px 20px;
        padding: 0;
        right: 0;
        text-align: center;
        border: none;
        // border-right: none;
      }

      .ourMissionRecentPosts {
        padding: 0;
        .ourMissionTextContainer {
          width: 90%;
          margin: 0 auto 30px;
          // margin-bottom: 30px;
          text-align: center;
        }

        .ourMissionImageContainer {
          width: 200px;
          margin: 0 auto 30px;
          // margin-bottom: 30px;
        }

        .recentPosts {
          width: 100%;
          text-align: center;
          margin: 0 auto;
        }
      }

      .comments,
      .commentForm {
        width: 90%;
        margin: 0 auto 30px;
        h6 {
          text-align: center;
          margin-top: 30px;
        }
      }
    }
  }

  #welcomePage {
    #header {
      .headerText {
        display: none;
      }

      .imagesContainer {
        display: none;
      }
    }

    #visitGuyana {
      margin: 0 auto;

      // flex-direction: column;
      // .visitGuyanaContent {
      //   // width: 100%;
      //   flex-basis: 90%;
      //   margin: 0 auto;
      //   text-align: center;
      // }

      .wrapper {
        // margin-top: 50px;
        margin: 50px auto;
        .visitGuyanaContent {
          flex-basis: 90%;
          margin: 0 auto;
          text-align: center;
        }

        .visitGuyanaImageContainer {
          display: none;
        }
      }
    }

    .secondNav {
      width: 100%;
      margin: 0 auto;
      ul {
        flex-direction: column;
        li {
          width: 100%;
        }
      }
    }

    #planAhead {
      flex-direction: column;
      width: 100%;
      text-align: center;

      .planAheadImageContainer {
        flex-basis: 90%;
        margin: 20px auto;

        img {
          top: 0;
          box-shadow: none;
        }
      }

      .planAheadTextContainer {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding: 50px;
      }
    }

    #newLocations {
      flex-direction: column-reverse;
      width: 100%;
      text-align: center;

      .newLocationsImageContainer {
        flex-basis: 90%;
        margin: 20px auto;

        img {
          top: 0;
          box-shadow: none;
        }
      }

      .newLocationsTextContainer {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding: 50px;
      }
    }

    // #planAhead {
    //   flex-direction: column;
    //   width: 100%;
    //   text-align: center;
    // }

    // #newLocations {
    //   flex-direction: column-reverse;
    //   width: 100%;
    //   text-align: center;
    // }

    // .planAheadImageContainer,
    // .newLocationsImageContainer {
    //   flex-basis: 90%;
    //   margin: 20px auto;

    //   img {
    //     top: 0;
    //     box-shadow: none;
    //   }
    // }

    // .planAheadTextContainer,
    // .newLocationsTextContainer {
    //   width: 90%;
    //   text-align: center;
    //   margin: 0 auto;
    //   padding: 50px;
    // }
  }
}

@media (max-width: 700px) {
  #contactPage {
    #header {
      .navBar {
        display: none;
      }

      .hamburgerMenu {
        display: contents;
        .showIcon {
          padding-top: 10px;
        }
      }

      .headerText {
        margin-top: 40px;

        h2 {
          font-size: 2rem;
        }
      }
    }

    main {
      .sendMessageForm {
        flex-direction: column;

        .nameEmailContainer {
          display: flex;
          flex-direction: column;

          input {
            width: 100%;
          }
        }
      }
    }
  }

  #blogPage {
    #header {
      .navBar {
        display: none;
      }

      .hamburgerMenu {
        display: contents;
        .showIcon {
          padding-top: 10px;
        }
      }

      .headerText {
        margin: 90px auto;
      }
    }

    main {
      flex-direction: column;

      .blogImageContainer {
        display: none;
      }

      .blogTextContainer {
        margin-top: 70px;
      }

      .ourMissionImageContainer {
        width: 200px;
        margin: 0 auto 30px;
        // margin-bottom: 30px;
      }

      .recentPosts {
        width: 100%;
        text-align: center;
        margin: 0 auto;
      }

      .comments,
      .commentForm {
        width: 90%;
        margin: 0 auto 30px;
      }
    }
  }

  #welcomePage {
    #header {
      .navBar {
        display: none;
      }

      .hamburgerMenu {
        display: contents;
      }
    }

    #imagesGallery li {
      // display: none;
      padding: 5px;
      // justify-content: flex-end;
    }

    #planAhead {
      width: 90%;
    }

    #freeTrip {
      width: 90%;
    }
  }
}

@media (max-width: 600px) {
  #blogPage {
    .logo {
      font-size: 1rem;
    }

    .comments {
      h6 {
        text-align: center;
        margin-top: 30px;
      }
      .userComments {
        // width: 90%;
        // margin: 0 auto 30px;
        display: flex;
        flex-direction: column;

        .userImageContainer {
          width: 100px;
          margin: 0 auto 30px;
        }
      }
    }

    .commentForm {
      .nameEmailContainer {
        display: flex;
        flex-direction: column;
      }
    }
  }

  #welcomePage {
    #imagesGallery li {
      display: none;
      padding: 5px;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 400px) {
  #contactPage {
    #header {
      .headerText {
        margin-top: 40px;

        h2 {
          font-size: 1.2rem;
        }
      }
    }
  }

  // #welcomePage {
  //   #visitGuyana {
  //     height: 660px;
  //     font-size: 0.8rem;
  //   }
  // }
}
