@media (max-width: 1070px) {
  #contactPage {
    #header {
      width: 100%;

      .headerText {
        margin: 30px auto;

        h2 {
          font-size: 3rem;
        }
      }
    }

    main {
      flex-direction: column;

      .messageForm {
        width: 100%;
        margin: 0 auto;
        box-shadow: none;
      }

      .companyInfo {
        text-align: center;
      }
    }
  }
}

@media (max-width: 700px) {
  #contactPage {
    #header {
      .headerText {
        margin-top: 40px;

        h2 {
          font-size: 2rem;
        }
      }
    }
    main {
      .messageForm {
        flex-direction: column;

        width: 100%;

        input {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #header {
    .headerText {
      margin-top: 40px;

      h2 {
        font-size: 1.5rem;
      }
    }
  }
}
