@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.4em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* 1.2 BORDER-BOX */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

h1,
.logo,
.likeButton {
  font-family: "Playfair Display SC", serif;
}

body,
h2,
h3,
h4,
h5,
h6,
.nav,
.placeholder {
  font-family: "Lato", sans-serif;
}

body {
  font-size: 1rem;
  color: #2c2c2c;
  line-height: 1.6rem;
  letter-spacing: 2px;
}

body {
  font-weight: normal;
}

.nav,
.likeButton {
  font-size: 1rem;
  color: #fafffe;
  letter-spacing: 1px;
}

.nav {
  font-weight: bold;
  line-height: 1.6rem;
}

.likeButton {
  font-weight: normal;
  line-height: 1.45rem;
}

.logo {
  font-size: 1.73rem;
  color: #50e3c2;
}

h1 {
  font-size: 5.56rem;
  color: #063974;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 2.9rem;
}

h2 {
  color: #fafffe;
  font-size: 4.35rem;
  letter-spacing: 9px;
}

h3 {
  color: #0c5f4c;
  font-size: 3.1rem;
  letter-spacing: 6.7px;
}

h4,
h5 {
  font-size: 1.75rem;
  letter-spacing: 3.8px;
}

h4 {
  color: #0c5f4c;
}

h5 {
  color: #063974;
}

h6 {
  font-size: 1.5rem;
  letter-spacing: 3.2px;
}

.blogPost h4 {
  color: #0c5f4c;
}

.date {
  color: #063974;
}
.date span {
  font-weight: bold;
}

.linkType {
  color: #0c5f4c;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  height: auto;
}

.likeButton {
  background-color: #063974;
  padding: 18px 36px;
  text-align: center;
}
.likeButton:hover, .likeButton:focus {
  color: #50e3c2;
}

.nav {
  display: inherit;
  text-decoration: none;
}
.nav:hover, .nav:focus {
  color: #50e3c2;
}

.linkType {
  color: #063974;
}
.linkType:hover, .linkType:focus {
  opacity: 0.3;
}

.menu {
  padding-top: 30px;
}
.menu .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu .wrapper .navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu .wrapper .navBar ul a {
  padding-left: 30px;
}
.menu .hamburgerMenu {
  display: none;
}

#welcomePage header {
  background-image: url(../assets/images/home-image-1.jpg);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}
#welcomePage header .imagesContainer {
  width: 600px;
  max-width: 700px;
  position: absolute;
  left: 0;
  top: 200px;
}
#welcomePage header .headerText {
  text-align: left;
  padding-top: 200px;
  padding-left: 420px;
  z-index: 10;
}

#blogPage header {
  background-image: url(../assets/images/blog-image-1.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
#blogPage header .headerText {
  margin-top: 150px;
  margin-left: 200px;
}

#contactPage header {
  background-image: url(../assets/images/contact-image-1.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
#contactPage header .headerText {
  margin-top: 100px;
  margin-left: 130px;
}

footer {
  background-color: #2c2c2c;
  color: #fafffe;
  text-align: center;
}

footer p {
  width: 100%;
  padding: 10px;
  margin: 0;
}

#imagesGallery,
#planAhead,
#newLocations {
  background-color: #d2f9f1;
}

#visitGuyana {
  height: 460px;
}
#visitGuyana .wrapper {
  margin-top: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#visitGuyana .visitGuyanaContent {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
#visitGuyana .visitGuyanaImageContainer img {
  -webkit-box-shadow: -15px 15px #50e3c2;
          box-shadow: -15px 15px #50e3c2;
}
#visitGuyana h4 {
  margin-bottom: 20px;
}

#imagesGallery {
  height: 500px;
}
#imagesGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#imagesGallery ul li {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  padding: 50px 15px;
}

.secondNav {
  height: 350px;
  margin: 30px 0;
}
.secondNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.secondNav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.secondNav ul li .seconNavIcon {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}
.secondNav ul li .seconNavText {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  padding-left: 10px;
}
.secondNav ul li .seconNavText h6 {
  color: #0c5f4c;
  margin-top: -15px;
}
.secondNav i::before {
  font-family: FontAwesome;
  font-style: normal;
  color: white;
  padding: 15px;
  border-radius: 50%;
  background-color: #50e3c2;
}

#planAhead,
#newLocations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.planAheadImageContainer,
.planAheadTextContainer,
.newLocationsImageContainer,
.newLocationsTextContainer {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.planAheadImageContainer img {
  position: relative;
  top: -25px;
  -webkit-box-shadow: 15px 15px #50e3c2;
          box-shadow: 15px 15px #50e3c2;
}

.planAheadTextContainer {
  padding: 60px 60px 50px 0;
}

.newLocationsTextContainer {
  padding: 50px 0 50px 60px;
  text-align: right;
}

.newLocationsImageContainer img {
  position: relative;
  top: 25px;
  -webkit-box-shadow: -15px 15px #50e3c2;
          box-shadow: -15px 15px #50e3c2;
}

#freeTrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px auto;
  text-align: center;
}
#freeTrip h5 {
  color: #0c5f4c;
}
#freeTrip p {
  margin-bottom: 10px;
}
#freeTrip a {
  width: 300px;
  margin: 0 auto;
}

#blogPage main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blogPost {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  position: relative;
  top: -60px;
}

.blogImageContainer {
  -webkit-box-shadow: 15px 15px #50e3c2;
          box-shadow: 15px 15px #50e3c2;
}
.blogImageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogTextContainer {
  position: relative;
  right: -15px;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 50px;
  border-right: 5px solid #50e3c2;
  border-bottom: 5px solid #50e3c2;
}

p {
  margin-bottom: 30px;
}

.ourMission {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.blogImageContainer {
  width: 100%;
  height: auto;
}

.ourMissionRecentPosts {
  padding-top: 5rem;
  padding-left: 10rem;
}

.ourMissionTextContainer {
  margin-bottom: 30px;
}
.ourMissionTextContainer p {
  margin-bottom: 10px;
}

.recentPosts ul li::before {
  content: "•";
  color: #50e3c2;
  font-weight: bold;
  display: inline-block;
  width: 3em;
  margin-left: -1em;
  padding-left: 2rem;
}

.comments {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
}
.comments .userComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}
.comments .userComments .userImageContainer {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding-right: 20px;
}
.comments .userComments .userCommentContainer {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}
.comments .userComments .userCommentContainer p {
  margin-bottom: 0;
}

#contactPage main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.messageForm {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.companyInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 60px;
}
.companyInfo p {
  margin-bottom: 5px;
}
.companyInfo .socialIcons a {
  padding-right: 10px;
}
.companyInfo .emailContainer {
  font-weight: bold;
  margin-bottom: 20px;
}

.messageForm,
.commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-left: 10%;
  margin-bottom: 60px;
}
.messageForm input,
.messageForm textarea,
.commentForm input,
.commentForm textarea {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
  padding: 0 0 10px 5px;
  border: none;
  resize: none;
  margin-bottom: 40px;
}
.messageForm input::-webkit-input-placeholder, .messageForm textarea::-webkit-input-placeholder, .commentForm input::-webkit-input-placeholder, .commentForm textarea::-webkit-input-placeholder {
  font-weight: bold;
  font-size: 0.8rem;
  color: #2c2c2c;
  opacity: 1;
  line-height: 1.2rem;
  text-transform: uppercase;
}
.messageForm input::-moz-placeholder, .messageForm textarea::-moz-placeholder, .commentForm input::-moz-placeholder, .commentForm textarea::-moz-placeholder {
  font-weight: bold;
  font-size: 0.8rem;
  color: #2c2c2c;
  opacity: 1;
  line-height: 1.2rem;
  text-transform: uppercase;
}
.messageForm input:-ms-input-placeholder, .messageForm textarea:-ms-input-placeholder, .commentForm input:-ms-input-placeholder, .commentForm textarea:-ms-input-placeholder {
  font-weight: bold;
  font-size: 0.8rem;
  color: #2c2c2c;
  opacity: 1;
  line-height: 1.2rem;
  text-transform: uppercase;
}
.messageForm input::-ms-input-placeholder, .messageForm textarea::-ms-input-placeholder, .commentForm input::-ms-input-placeholder, .commentForm textarea::-ms-input-placeholder {
  font-weight: bold;
  font-size: 0.8rem;
  color: #2c2c2c;
  opacity: 1;
  line-height: 1.2rem;
  text-transform: uppercase;
}
.messageForm input::placeholder,
.messageForm textarea::placeholder,
.commentForm input::placeholder,
.commentForm textarea::placeholder {
  font-weight: bold;
  font-size: 0.8rem;
  color: #2c2c2c;
  opacity: 1;
  line-height: 1.2rem;
  text-transform: uppercase;
}
.messageForm input,
.commentForm input {
  border-bottom: 2px solid #50e3c2;
}
.messageForm textarea,
.commentForm textarea {
  width: 100%;
  min-height: 130px;
  border: 2px solid #50e3c2;
  padding: 20px;
}
.messageForm .sendMessageForm,
.messageForm .sendCommentForm,
.commentForm .sendMessageForm,
.commentForm .sendCommentForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.messageForm .nameEmailContainer,
.commentForm .nameEmailContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.messageForm .nameEmailContainer input,
.commentForm .nameEmailContainer input {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}
.messageForm button,
.commentForm button {
  line-height: 35px;
}

.messageForm {
  background-color: white;
  position: relative;
  top: -100px;
  padding: 40px;
  -webkit-box-shadow: 15px 15px #50e3c2;
          box-shadow: 15px 15px #50e3c2;
}

@media (max-width: 1070px) {
  #contactPage #header {
    width: 100%;
  }
  #contactPage #header .headerText {
    margin: 30px auto;
  }
  #contactPage #header .headerText h2 {
    font-size: 3rem;
  }
  #contactPage main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contactPage main .messageForm {
    width: 100%;
    margin: 0 auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #contactPage main .companyInfo {
    text-align: center;
  }
}
@media (max-width: 700px) {
  #contactPage #header .navBar {
    display: none;
  }
  #contactPage #header .hamburgerMenu {
    display: contents;
  }
  #contactPage #header .hamburgerMenu .showIcon {
    padding-top: 10px;
  }
  #contactPage #header .headerText {
    margin-top: 40px;
  }
  #contactPage #header .headerText h2 {
    font-size: 2rem;
  }
  #contactPage main .sendMessageForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contactPage main .sendMessageForm .nameEmailContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contactPage main .sendMessageForm .nameEmailContainer input {
    width: 100%;
  }
}
@media (max-width: 400px) {
  #contactPage #header .headerText {
    margin-top: 40px;
  }
  #contactPage #header .headerText h2 {
    font-size: 1.2rem;
  }
}